/* Volume Meter Classes */
.fill {
  -webkit-text-fill-color : rgb(211, 211, 211);
  color: rgb(211, 211, 211);
  -webkit-transition: height 70ms ease;
  -moz-transition: height 70ms ease;
  -ms-transition: height 70ms ease;
  transition: height 70ms ease;
  max-height: 45%;
  overflow: hidden;
}


.stroked {
  -webkit-text-stroke: 1px #1f6fd9;
  -webkit-text-fill-color: #1f6fd9;
  color: #1f6fd9;
}

.stroked-green {
  -webkit-text-stroke: 1px #138651;
  -webkit-text-fill-color: #138651;
  color: #138651;
}

.stroked-red {
  -webkit-text-stroke: 1px #a12525;
  -webkit-text-fill-color: #a12525;
  color: #a12525;
}

.glyph {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align_bottom {
  vertical-align: bottom;
}

/* Mispro Demo Classes */
.big-text {
  font-size: 20;
  font-weight: 200;
  line-height: 1.4;
}

.strong {
  font-weight: 500;
}

.slant {
  font-style: italic;
}

.content-buttons {
  margin-bottom: 15px;
}

.mispro {
  color: red;
}